{% extends '::base.html.twig' %}

{% block page_content -%}
    {{ macro_uft.flash() }}
    {{ macro_uft.new_form_horizontal(form,'Novo','lista_pessoas', {obrigatorio: 'obrigatorio'}) }}
{% endblock %}

{% block javascripts_inline %}
    {{ macro_uft.mascara_telefone() }}
    {{ macro_uft.mascara_cpf() }}
    {{ macro_uft.date_picker() }}
    {#{{ macro_uft.select2(form) }}#}
    {#verifica se já existe login no LDAP#}

    <link href="{{ asset('bundles/slu/select2/select2-bootstrap.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/slu/select2/select2.css') }}" rel="stylesheet"/>
    <script src="{{ asset('bundles/slu/select2/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/slu/select2/i18n/pt-BR.js') }}"></script>
    <script>
        $(document).delegate("li input[id^='pessoa_ldap_telephoneNumber_']", "focus", function () {
            $(this).inputmask("+55 (99) 9999-9999[9]").keyup(function () {
                var valor = $(this).val();
                if (valor[9] == '9') {
                    $(this).inputmask("+55 (99) 99999-9999");
                } else {
                    $(this).inputmask("+55 (99) 9999-9999");
                }
            }).focusout(function () {
                var valor = $(this).val();
                if (valor.replace(/\D/g, '').length == '12') {
                    $(this).inputmask("+55 (99) 9999-9999");
                }
            }).focusin(function () {
                $(this).inputmask("+55 (99) 99999-9999");
            });
        });

        $('#pessoa_ldap_grupo').select2({
            language: 'pt-BR',
            ajax: {
                url: '{{ path("ajax_busca_grupo") }}',
                dataType: 'json',
                delay: 250,
                data: function (params) {
//                    console.log(params);
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    console.log(data);
                    params.page = 1;
                    return {
                        results: data,
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) {
                return markup;
            }, // let our custom formatter work
            minimumInputLength: 5
        });
    </script>


    <script>// Verifica a 'força' da senha digitada...
        $('#pessoa_ldap_userPassword_first').keyup(function (e) {
            var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");
            var mediumRegex = new RegExp("^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
            var enoughRegex = new RegExp("(?=.{8,}).*", "g");
            if ($(this).val() == '') {
                $('#resultado_userpassword').html('');
                $('#btn_submit').removeAttr('disabled');
            } else if (false == enoughRegex.test($(this).val())) {
                $('#resultado_userpassword').html('Senha muito Curta, tamanho mínimo 8 caracteres.');
                $('#resultado_userpassword').css('color', 'red');
                $('#btn_submit').attr('disabled', 'disabled');
            } else if (strongRegex.test($(this).val())) {
                $('#resultado_userpassword').className = 'ok';
                $('#resultado_userpassword').html('Forte!');
                $('#resultado_userpassword').css('color', 'lime');
                $('#btn_submit').removeAttr('disabled');
            } else if (mediumRegex.test($(this).val())) {
                $('#resultado_userpassword').className = 'alert';
                $('#resultado_userpassword').html('Mediana!');
                $('#resultado_userpassword').css('color', '#b4d100');
                $('#btn_submit').removeAttr('disabled');
            } else {
                $('#resultado_userpassword').className = 'error';
                $('#resultado_userpassword').html('Fraca!');
                $('#resultado_userpassword').css('color', 'red');
                $('#btn_submit').removeAttr('disabled');
            }
            return true;
        });
    </script>



    <script type="text/javascript">
        $(function () { // declaro o início do jquery
            $("#pessoa_ldap_uid").on('blur', function () {
                var nomeUsuario = $(this).val().toLowerCase();
                $(this).val(nomeUsuario);
                $.ajax({
                    type: "POST",
                    data: {login: nomeUsuario},
                    url: "{{ path('ajax_verifica_login') }}",
                    success: function (data) {
                        if (!$("#pessoa_ldap_uid").attr('readonly')) {
                            $('#resultado_uid').html(data);
                            if (data == 'Login disponivel!') {
                                $('#resultado_uid').attr('style', 'color:green');
                                $('#btn_submit').removeAttr('disabled');
                            } else {
                                $('#resultado_uid').attr('style', 'color:red');
                                $('#btn_submit').attr('disabled', 'disabled');
                            }
                        }
                        if (nomeUsuario == "") {
                            $('#pessoa_ldap_mail_0').val("");
                        } else {
                            $('#pessoa_ldap_mail_0').val(nomeUsuario.concat('@uft.edu.br'));
                        }
                    }
                });
            });

//
////            verificando pefil da pessoaLDAP
//            $("#pessoa_ldap_Aluno").on('change', function () {
//                var nomeUsuario = $(this).val().toLowerCase();
//                $(this).val(nomeUsuario);
//
//                var id = $("input[id*='Aluno']:checked").val()
//
//                $("#pessoa_ldap_grupo").append("<option value='Alunos' selected>Alunos</option>");
//                $('#pessoa_ldap_grupo').trigger('change');
//            });


            // VERIFICA SE JÁ HÁ USUÁRIO COM O MESMO CPF
            $("#pessoa_ldap_brPersonCPF").on('blur', function () {
                var cpfUsuario = $(this).val();
                $.ajax({
                    type: "POST",
                    data: {cpf: cpfUsuario},
                    url: "{{ path('verifica_cpf') }}",
                    success: function (data) {
                        if (!$("#pessoa_ldap_brPersonCPF").attr('readonly')) {
                            $('#resultado_brpersoncpf').html(data);
                            if (data == 'Este CPF já está em uso!') {
                                $('#resultado_brpersoncpf').attr('style', 'color:red');
                                $('#btn_submit').attr('disabled', 'disabled');
                            } else {
                                $('#btn_submit').removeAttr('disabled');
                            }
                        }
                    }
                });
            });
        });// fim do jquery
    </script>

    <script>
        //INICIANDO MATRICULA
        var $collectionHolderMatricula;
        var $addMatricula = $('<a href="#" class="add_matriculas">Adicionar Matrícula</a>');
        var $listaMatricula = $('<li></li>').append($addMatricula);
        jQuery(document).ready(function () {
            $collectionHolderMatricula = $('ul.matricula');
            $collectionHolderMatricula.append($listaMatricula);
            $collectionHolderMatricula.data('index', $collectionHolderMatricula.find(':input').length);
            $addMatricula.on('click', function (e) {
                e.preventDefault();
                addMatriculaForm($collectionHolderMatricula, $listaMatricula);
            });
        });

        //   -----------------------------------

        // INICIANDO E-MAILS
        var $collectionHolderEmail;
        var $addEmail = $('');//$('<a href="#" class="add_emails">Adicionar E-mail</a>');
        var $listaEmail = $('<li></li>').append($addEmail);
        jQuery(document).ready(function () {
            $collectionHolderEmail = $('ul.mail');
            $collectionHolderEmail.append($listaEmail);
            $collectionHolderEmail.data('index', $collectionHolderEmail.find(':input').length);
            $addEmail.on('click', function (e) {
                e.preventDefault();
                // REMOVENDO A ADICAO DE MAIS DE UM EMAIL NO CAMPO MAIL
                // addMatriculaForm($collectionHolderEmail, $listaEmail);
            });
            $(window).load(function (e) {
                e.preventDefault();
                addMatriculaForm($collectionHolderEmail, $listaEmail);
                $('#pessoa_ldap_mail_0').prop('readonly', true);
            });
        });

        $(document).ready(function () {


            // $("input[name='pessoa_ldap[Funcionario]']").on('ifChanged', function (event) {
            //     alert($(this).val()); // alert value
            // });

//VERIFICA se é TERCEIRIZADO E LIBERA CAMPO do CAMPUS
            $("input[name='pessoa_ldap[Funcionario]']").change(function () {
                    if ($(this).val() == 3) {
                        $("select[name='pessoa_ldap[Campus]']").removeAttr('readonly');
                    } else {
                        $("select[name='pessoa_ldap[Campus]']").attr('readonly', 'readonly');
                    }
                }
            );
        });


        //        $(document).ready(function () {
        //            $( "li input[id^='pessoa_ldap_mail_']" ).each(function( index ) {
        //                if(index>1){
        //                    $(this).parent().append('<a href="#" class="remove-tag" style="padding: 10px 10px 10px 10px"><i  class="glyphicon glyphicon-remove" style="top: 10px;"></i></a>');
        //                    $(this).removeClass('form-control');
        //                    $(this).addClass('col-md-11');
        //                    $(this).css("border", "1px solid #ccc");
        //                    $(this).css("padding", "6px 12px");
        //                    $(this).css("margin", "6px 0px");
        //                    $('.remove-tag').click(function (e) {
        //                        e.preventDefault();
        //
        //                        $(this).parent().remove();
        //
        //                        return false;
        //                    });
        //                }
        //            });
        //        });
        //   -----------------------------------
        // telefones
        var $collectionHolderTelefone;
        var $addTelefone = $('');//$('<a href="#" class="add_emails">Adicionar E-mail</a>');
        var $listaTelefone = $('<li></li>').append($addTelefone);
        jQuery(document).ready(function () {
            $collectionHolderTelefone = $('ul.telephonenumber');
            $collectionHolderTelefone.append($listaTelefone);
            $collectionHolderTelefone.data('index', $collectionHolderTelefone.find(':input').length);
            $addTelefone.on('click', function (e) {
                e.preventDefault();
                addMatriculaForm($collectionHolderTelefone, $listaTelefone);
            });
            $(window).load(function (e) {
                e.preventDefault();
                addMatriculaForm($collectionHolderTelefone, $listaTelefone);
            });
        });
        //        $(document).ready(function () {
        //            $( "li input[id^='pessoa_ldap_telephoneNumber_']" ).each(function( index ) {
        //                if(index>1){
        //                    $(this).parent().append('<a href="#" class="remove-tag" style="padding: 10px 10px 10px 10px"><i  class="glyphicon glyphicon-remove" style="top: 10px;"></i></a>');
        //                    $(this).removeClass('form-control');
        //                    $(this).addClass('col-md-11');
        //                    $(this).css("border", "1px solid #ccc");
        //                    $(this).css("padding", "6px 12px");
        //                    $(this).css("margin", "6px 0px");
        //                    $('.remove-tag').click(function (e) {
        //                        e.preventDefault();
        //
        //                        $(this).parent().remove();
        //
        //                        return false;
        //                    });
        //                }
        //            });
        //        });


        //   -----------------------------------

        function addMatriculaForm($collectionHolder, $lista) {
            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');
            var newForm = prototype.replace(/__name__/g, index);
            $collectionHolder.data('index', index + 1);
            var $newFormLi = $('<li class="col-md-12" > </li>').append(newForm);
            if ($($newFormLi).children("input").attr("id") == "pessoa_ldap_mail_0") {
                $($newFormLi).children("input").removeClass('form-control');
                $($newFormLi).children("input").addClass('col-md-11');
                $($newFormLi).children("input").css("border", "1px solid #ccc");
                $($newFormLi).children("input").css("padding", "6px 12px");
                $($newFormLi).children("input").css("margin", "6px 0px");
                $lista.before($newFormLi);
            } else if ($($newFormLi).children("input").attr("id") == "pessoa_ldap_mail_1") {
                $($newFormLi).children("input").removeClass('form-control');
                $($newFormLi).children("input").addClass('col-md-12');
                $($newFormLi).children("input").css("border", "1px solid #ccc");
                $($newFormLi).children("input").css("padding", "6px 12px");
                $($newFormLi).children("input").css("margin", "6px 0px");
                $lista.before($newFormLi);
            } else if ($($newFormLi).children("input").attr("id") == "pessoa_ldap_telephoneNumber_0") {
                $($newFormLi).children("input").removeClass('form-control');
                $($newFormLi).children("input").addClass('col-md-12');
                $($newFormLi).children("input").css("border", "1px solid #ccc");
                $($newFormLi).children("input").css("padding", "6px 12px");
                $($newFormLi).children("input").css("margin", "6px 0px");
                $lista.before($newFormLi);
            } else {
                $newFormLi.append('<a href="#" class="remove-tag" style="padding: 10px 10px 10px 10px"><i  class="glyphicon glyphicon-remove" style="top: 10px;"></i></a>');
                $($newFormLi).children("input").removeAttr('required');
                $($newFormLi).children("input").removeClass('form-control');
                $($newFormLi).children("input").addClass('col-md-11');
                $($newFormLi).children("input").css("border", "1px solid #ccc");
                $($newFormLi).children("input").css("padding", "6px 12px");
                $($newFormLi).children("input").css("margin", "6px 0px");
                $lista.before($newFormLi);
                $('.remove-tag').click(function (e) {
                    e.preventDefault();
                    $(this).parent().remove();
                    return false;
                });
            }
        }


    </script>
    {#{{ macro_uft.add_colecao([{name:'telephonenumber',link:'Adicionar Telefone'}]) }}#}
{% endblock %}
