{% extends '::base.html.twig' %}
{% block page_content -%}
    {{ macro_uft.flash() }}
    {{ macro_uft.new_form_horizontal(edit_form,'Recadastramento','homepage',{obrigatorio: 'obrigatorio'}) }}
{% endblock %}

{% block javascripts_inline %}
    {{ macro_uft.mascaras(['cpf','telefone']) }}
    {{ macro_uft.date_picker() }}
    <link href="{{ asset('bundles/slu/select2/select2-bootstrap.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/slu/select2/select2.css') }}" rel="stylesheet"/>
    <script src="{{ asset('bundles/avanzuadmintheme/vendor/adminlte/plugins/select2/select2.full.min.js') }}"></script>
    <script src="{{ asset('bundles/slu/select2/i18n/pt-BR.js') }}"></script>
    <script>
        jQuery(document).ready(function () {

                $('#recadastrar_mail_0').prop('readonly', true);

        });
    </script>
    {#verifica se já existe login no LDAP#}
    <script type="text/javascript">
        $(document).delegate("li input[id^='recadastrar_telephoneNumber_']","focus",function(){
            $(this).inputmask("+55 (99) 9999-9999[9]").keyup(function () {
                var valor = $(this).val();
                if (valor[9] == '9') {
                    $(this).inputmask("+55 (99) 99999-9999");
                } else {
                    $(this).inputmask("+55 (99) 9999-9999");
                }
            }).focusout(function () {
                var valor = $(this).val();
                if (valor.replace(/\D/g, '').length == '12') {
                    $(this).inputmask("+55 (99) 9999-9999");
                }
            }).focusin(function () {
                $(this).inputmask("+55 (99) 99999-9999");
            });
        });

        $(function () { // declaro o início do jquery
            $("#recadastrar_uid").on('blur', function () {
                var nomeUsuario = $(this).val();
                $.ajax({
                    type: "POST",
                    data: {login: nomeUsuario, uid: '{{ entity.uid }}'},
                    url: "{{ path('ajax_verifica_login') }}",
                    success: function (data) {
                        //                      console.log(document.getElementById('uft_slubundle_sluconta_uid').getAttribute('readonly'));
                        if (!$("#recadastrar_uid").attr('readonly')) {
                            console.log(nomeUsuario);
                            $('#resultado_uid').html(data);
                            if (data == 'Login disponivel!') {
                                $('#resultado_uid').attr('style', 'color:green');
                                $('#btn_submit').removeAttr('disabled');
                            } else {
                                $('#resultado_uid').attr('style', 'color:red');
                                $('#btn_submit').attr('disabled', 'disabled');
                            }
                        }
                        if (nomeUsuario == "") {
                            $('#recadastrar_mail_0').val("");
                        } else {
                            $('#recadastrar_mail_0').val(nomeUsuario.concat('@uft.edu.br'));
                        }
                    }
                });
            });
            // VERIFICA SE JÁ HÁ USUÁRIO COM O MESMO CPF
            $("#recadastrar_brPersonCPF").on('blur', function () {
                var cpfUsuario = $(this).val();
                $.ajax({
                    type: "POST",
                    data: {cpf: cpfUsuario, userCpf: '{{ entity.cpf }}'}, // cpfUsuario-> CPF sendo digitado; entity-> cpf que já está no cadastro.
                    url: "{{ path('verifica_cpf') }}",
                    success: function (data) {
                        if (!$("#recadastrar_brPersonCPF").attr('readonly')) {
                            $('#resultado_brpersoncpf').html(data);
                            if (data == 'Este CPF já está em uso!') {
                                $('#resultado_brpersoncpf').attr('style', 'color:red');
                                $('#btn_submit').attr('disabled', 'disabled');
                            } else {
                                $('#btn_submit').removeAttr('disabled');
                            }
                        }
                    }
                });
            });

        });// fim do jquery
    </script>


    <script type="text/javascript">
        $(function () { // declaro o início do jquery
            $(document).ready(function () {
                if ($("#recadastrar_Funcionario").val() == 1 || $("#recadastrar_Professor").val() == 1) {
                    $("#recadastrar_uids").append(
                            "<div class='radio'><label for='recadastrar_uids_6' class='required'><input id='recadastrar_uids_6' name='recadastrar[uids]' required='required' class='checkbox' value='' type='radio'>" +
                            "<input id='recadastrar_uids_6_input' type='text' placeholder='Outro' name='recadastrar[uids]'>" +
                            "</label></div>"
                    );

                    $(document).delegate("#recadastrar_uids_6_input",'focus', function () {
                        $("#recadastrar_uids_6").attr("checked","checked")
                    });
                    $(document).delegate("#recadastrar_uids_6_input",'blur', function () {
                        var nomeUsuario = $(this).val().toLowerCase();
                        $("#recadastrar_uids_6").val(nomeUsuario);
                        $(this).val(nomeUsuario);
                        $.ajax({
                            type: "POST",
                            data: {login: nomeUsuario},
                            url: "{{ path('ajax_verifica_login') }}",
                            success: function (data) {
                                if (!$("#recadastrar_uids").attr('readonly')) {
                                    $('#resultado_uids').html(data);
                                    if (data == 'Login disponivel!') {
                                        $('#resultado_uids').attr('style','color:green');
                                        $('#btn_submit').removeAttr('disabled');
                                        if (nomeUsuario == "" && $("#recadastrar_uids_6").is(":checked")) {
                                            $('#recadastrar_mail_0').val("");
                                        } else if ($("#recadastrar_uids_6").is(":checked")) {
                                            $('#recadastrar_mail_0').val(nomeUsuario.concat('@uft.edu.br'));
                                            $('#recadastrar_uid').val(nomeUsuario);
                                        }
                                    } else {
                                        $('#resultado_uid').attr('style', 'color:red');
                                        $('#btn_submit').attr('disabled', 'disabled');
                                    }
                                }
                            }
                        });
                    });
                    $("input[name='recadastrar[uids]']").on('click', function () {
                        if ($("#recadastrar_Funcionario").val() == 1) {
                            if ($("#recadastrar_uids_6").is(":checked")) {
                                $("#recadastrar_uids_6_input").attr('require', 'require');
                            } else {
                                $("#recadastrar_uids_6_input").removeAttr('require');
                                $('#btn_submit').removeAttr('disabled');
                            }
                        }
                    });
                }
                $(document).delegate("input[name='recadastrar[uids]']",'click', function () {
                    var nomeUsuario = $(this).val().toLowerCase();
                    if (nomeUsuario == "") {
                        $('#recadastrar_mail_0').val("");
                    } else {
                        $('#recadastrar_mail_0').val(nomeUsuario.concat('@uft.edu.br'));
                        $('#recadastrar_uid').val(nomeUsuario);
                    }
                });
                $('form[name="recadastrar"]').submit(function () {
                    $('#recadastrar_Professor').removeAttr('disabled');
                    $('#recadastrar_Funcionario').removeAttr('disabled');
                    $('#recadastrar_Aluno').removeAttr('disabled');
                    $('#recadastrar_schacGender').removeAttr('disabled');
                });
            });
        });// fim do jquery
    </script>

    <script>// Verifica a 'força' da senha digitada...
        $('#recadastrar_userPassword_first').keyup(function (e) {
            var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");
            var mediumRegex = new RegExp("^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
            var enoughRegex = new RegExp("(?=.{8,}).*", "g");
            if ($(this).val() == '') {
                $('#resultado_userpassword').html('');
                $('#btn_submit').removeAttr('disabled');
            }
            else if (false == enoughRegex.test($(this).val())) {
                $('#resultado_userpassword').html('Senha muito Curta, tamanho mínimo 8 caracteres.');
                $('#resultado_userpassword').css('color','red');
                $('#btn_submit').attr('disabled', 'disabled');
            } else if (strongRegex.test($(this).val())) {
                $('#resultado_userpassword').className = 'ok';
                $('#resultado_userpassword').html('Forte!');
                $('#resultado_userpassword').css('color','lime');
                $('#btn_submit').removeAttr('disabled');
            } else if (mediumRegex.test($(this).val())) {
                $('#resultado_userpassword').className = 'alert';
                $('#resultado_userpassword').html('Mediana!');
                $('#resultado_userpassword').css('color','#b4d100');
                $('#btn_submit').removeAttr('disabled');
            } else {
                $('#resultado_userpassword').className = 'error';
                $('#resultado_userpassword').html('Fraca!');
                $('#resultado_userpassword').css('color','red');
                $('#btn_submit').removeAttr('disabled');
            }
            return true;
        });
    </script>



    {{ macro_uft.add_colecao([{name:'telephonenumber',link:'Adicionar Telefone'}]) }}
{% endblock %}
